<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/output.css">
		<title>{{ .Meta.Title }}</title>
	</head>
  	<body>
		<div id='root' class="font-mono h-screen">
			<header class="p-4 flex flex-col gap-4">
                <h1 class="text-3xl">About</h1>
                <nav>
                    <ul class="flex flex-row gap-8">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </nav>
            </header>
		</div>
  	</body>
</html>